*{
    margin: 0;padding: 0;
}
ul{
    display: flex;
    margin-left: 25px;
}
li{
    list-style: none;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
}
#logo{
    height: 55px;
    font-size: 28px;
    font-weight: bolder;
}
nav{
    display: flex;
    align-items: center;
    height: 60px;
}
.m-auto{
    max-width: 80vw;
    margin: auto;
}
#heading{
    font-size: 25px;
    font-weight: 600;
}
#title-here, #notes-here{
    margin-left: 10px;
}
#title-txtarea, #notes-txtarea{
    margin-top: 4px;
    margin-bottom: 8px;
}
#button{
    height: 30px;
    width: 80vw;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}
#yNotes{
    font-size: 20px;
    font-weight: bolder;
}
#line1{
    margin-bottom: 15px;
}
#line{
    margin-bottom: 6px;
    margin-top: 4px;
}
.showcard{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 38px;
    column-gap: 5px;
    margin-bottom: 40px;
}
.card{
    border: 1px solid black;
    padding: 15px;
    padding-bottom: 0px;
    height: 100%;
    border-radius: 6px;
}
.title-heading{
    margin: 10px;
}
.delete{
    margin-top: 6px;
    width: 10%;
    height: 25px;
    cursor: pointer;
    border-radius: 4px; 
}
#id{
    margin: auto;
}
.spaceing{
    display: flex;
    justify-content: space-between;
}